# YARN
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# YALC
.yalc
yalc.lock

# build/test artifacts
lib
*.tsbuildinfo
/**/test/coverage
coverage
*.log
/test/tmp/**
/tmp/**
