/test/
tsconfig.build.json
tsconfig.common.json
tsconfig.json
src/
*.tsbuildinfo
yarn-error.log
.yalc/
yalc.lock
.yarn/
yarn.lock
.yarnrc.yml
.prettierrc.js
.git
.gitattributes
.editorconfig
.eslintrc.js
.eslintignore
.jestrc.json
/config/
CONTRIBUTION.md
/tmp/
docker-compose.yaml
docker/
node_modules/
Makefile
.github/
CHANGELOG.md
/example/
jest.config.ts
/lib/Test/Infrastructure/OpenId/App